/config.cfg
/manage.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/productionUnit.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/watcherTasks.xml
/docs/config.cfg
/docs/_templates/
/docs/_static/
/docs/_build/
/docs/make.bat
/docs/Makefile
/make.bat
/Makefile
