{% extends 'header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<script src="{% static 'production/js/admin.js' %}" defer type="module"></script>
{#    <script src="{% static 'production/js/dist/admin.bundle.js' %}" defer type="module"></script>#}

    {% if request.user.is_superuser %}

        <div hidden id="showDeleted">showDeleted</div>
        <div class="full-content">
            <div class="container">
                <div class="admin-report">
                    <details class="dict-block dict-block__5 dict-block__adm dict-block__adm_full " id="productRequest">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-hands-asl-interpreting"></i>&nbsp;Заявки
                                на
                                производство
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active production-request_adm">
                            <div class="table-center">Id</div>
                            <div>Деталь</div>
                            <div>Цвет</div>
                            <div class="digit">Кол-во</div>
                            <div class="digit">Осталось</div>
                            <div class="table-center">Создано</div>
                            <div class="table-center">Создал</div>
                            <div class="table-center">Заказ</div>
                            <div class="table-center">Закр.</div>
                            <div class="table-center">Дата закр.</div>
                            <div class="table-center">Комментарий</div>
                            <div class="table-center">Тех.</div>
                            <div class="table-center">Удалено</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row production-request_adm dict-block__row_hidden" data-id="0"
                                 id="productRequest-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text table-center" data-field="id"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="detail" data-field="detail"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="color" data-field="color" data-filter="detail"></div>
                                <div class="dict-block__text digit"
                                     data-name="quantity" data-field="quantity"></div>
                                <div class="dict-block__text digit" data-name="quantity_left"
                                     data-field="quantity_left"></div>
                                <div class="dict-block__text table-center"
                                     data-field="date_create">{{ date_now|date:"d.m.y H:i" }}</div>
                                <div class="dict-block__text table-center"
                                     data-field="user">{{ request.user.username }}</div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="if_order" data-field="if_order"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="closed" data-field="closed"></div>
                                <div class="dict-block__text table-center date-field" data-field="date_close"
                                     data-name="date_close"></div>
                                <div class="dict-block__text table-center" data-name="comment"
                                     data-field="comment"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="technical" data-field="technical"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- заявки на производство -->
                    <details class="dict-block dict-block__5 dict-block__adm dict-block__adm_full " id="requestStartStop">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-hands-asl-interpreting"></i>&nbsp;Заявки&nbsp;старт/стоп
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active request-start-stop_adm">
                            <div class="table-center">Id</div>
                            <div class="table-center">Запрос</div>
                            <div class="table-center">Старт</div>
                            <div class="table-center">Начал</div>
                            <div class="table-center">ТПА</div>
                            <div class="table-center">Стоп</div>
                            <div class="table-center">Законч.</div>
                            <div class="table-center">Коммент.</div>
                            <div class="table-center">Уд.</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row request-start-stop_adm dict-block__row_hidden" data-id="0"
                                 id="requestStartStop-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text table-center" data-field="id"></div>
                                <div class="dict-block__text foreign-key table-center" data-id=""
                                     data-name="production_request" data-field="production_request"></div>
                                <div class="dict-block__text table-center"
                                     data-field="date_start">{{ date_now|date:"d.m.y H:i" }}</div>
                                <div class="dict-block__text table-center"
                                     data-field="user_start">{{ request.user.username }}</div>
                                <div class="dict-block__text foreign-key table-center" data-id=""
                                     data-name="imm" data-field="imm"></div>
                                <div class="dict-block__text table-center date-field" data-name="date_stop"
                                     data-field="date_stop">{{ date_now|date:"d.m.y H:i" }}</div>
                                <div class="dict-block__text table-center"
                                     data-field="user_stop"></div>
                                <div class="dict-block__text table-center" data-name="stop_reason"
                                     data-field="stop_reason"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- заявки на производство start/stop-->
                    <details class="dict-block dict-block__5 dict-block_adm dict-block__adm_full" id="productReport">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class=" fa fa-solid fa-person-digging"></i>&nbsp;Производство
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active production_adm">
                            <div class="table-center">Id</div>
                            <div>Деталь</div>
                            <div>Цвет</div>
                            <div class="table-center">Дата</div>
                            <div class="table-center">ТПА</div>
                            <div class="table-center">Делал</div>
                            <div class="digit">Кол-во</div>
                            <div class="digit">Брак</div>
                            <div class="table-center">Закр.</div>
                            <div class="table-center">Дата закр.</div>
                            <div class="table-center">Принял</div>
                            <div class="table-center">Удалено</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row production_adm dict-block__row_hidden" data-id="0"
                                 id="productReport-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text table-center" data-field="id"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="detail" data-field="detail"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="color" data-field="color" data-filter="detail"></div>
                                <div class="dict-block__text" data-field="date">{{ date_now|date:"d.m.y H:i" }}</div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="imm" data-field="imm" data-filter=""></div>
                                <div class="dict-block__text table-center"
                                     data-field="user">{{ request.user.username }}</div>
                                <div class="dict-block__text digit"
                                     data-name="quantity" data-field="quantity"></div>
                                <div class="dict-block__text digit" data-name="defect"
                                     data-field="defect"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="closed" data-field="closed"></div>
                                <div class="dict-block__text table-center" data-field="date_close"></div>
                                <div class="dict-block__text table-center"
                                     data-field="user_close">{{ request.user.username }}</div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- отчеты производства -->
                    <details class="dict-block dict-block__2 dict-block_adm dict-block__adm_half" id="productionForRequest">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-left-right"></i>&nbsp;Производство&nbsp;<>&nbsp;Запрос
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active production-for-request_adm">
                            <div class="table-center">Id</div>
                            <div class="table-center">Пр-во</div>
                            <div class="table-center">Запрос</div>
                            <div class="digit">Кол-во</div>
                            <div class="table-center">Уд.</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row production-for-request_adm dict-block__row_hidden" data-id="0"
                                 id="productionForRequest-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text table-center" data-field="id"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="production" data-field="production"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="production_request" data-field="production_request"></div>
                                <div class="dict-block__text digit"
                                     data-name="quantity" data-field="quantity"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- производство <=>  запрос-->
                    <details class="dict-block dict-block__5 dict-block_adm dict-block__adm_full" id="qualityReport">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-microscope"></i>&nbsp;Качество
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active quality-list_adm">
                            <div class="table-center">Id</div>
                            <div class="table-center">Пр-во</div>
                            <div class="digit">Кол-во</div>
                            <div class="digit">Принято</div>
                            <div class="digit">С браком</div>
                            <div class="table-center">Дата</div>
                            <div class="table-center">Принял</div>
                            <div class="table-center">Решение</div>
                            <div class="table-center">Коммент.</div>
                            <div class="table-center">Уд.</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row quality-list_adm dict-block__row_hidden" data-id="0"
                                 id="qualityReport-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text table-center" data-field="id"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="production" data-field="production"></div>
                                <div class="dict-block__text digit"
                                     data-name="quantity_checked" data-field="quantity_checked"></div>
                                <div class="dict-block__text digit"
                                     data-name="quantity_approved" data-field="quantity_approved"></div>
                                <div class="dict-block__text digit"
                                     data-name="quantity_approved_defect" data-field="quantity_approved_defect"></div>
                                <div class="dict-block__text table-center"
                                     data-field="date_check">{{ date_now|date:"d.m.y H:i" }}</div>
                                <div class="dict-block__text table-center"
                                     data-field="user">{{ request.user.username }}</div>
                                <div class="dict-block__text foreign-key table-center" data-id=""
                                     data-name="defect_event" data-field="defect_event"></div>
                                <div class="dict-block__text table-center" data-name="comment"
                                     data-field="comment"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- отчеты качества -->
                    <details class="dict-block dict-block__2 dict-block_adm dict-block__adm_half" id="qualityForRequest">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-people-arrows"></i>&nbsp;Качество&nbsp;<>&nbsp;Запрос
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active quality-for-request_adm">
                            <div class="table-center">Id</div>
                            <div class="table-center">Качество</div>
                            <div class="table-center">Запрос</div>
                            <div class="digit">Кол-во</div>
                            <div class="digit">Принято</div>
                            <div class="table-center">Уд.</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row quality-for-request_adm dict-block__row_hidden" data-id="0"
                                 id="qualityForRequest-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text table-center" data-field="id"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="quality_report" data-field="quality_report"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="production_request" data-field="production_request"></div>
                                <div class="dict-block__text digit"
                                     data-name="quantity_checked" data-field="quantity_checked"></div>
                                <div class="dict-block__text digit"
                                     data-name="quantity_approved" data-field="quantity_approved"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- качество <=>  запрос-->
                    <details class="dict-block dict-block__2 dict-block_adm dict-block__adm_half" id="qualityReportDefect">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-magnifying-glass"></i>&nbsp;Качество&nbsp;<>&nbsp;Дефекты
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active quality-report-defect_adm">
                            <div class="table-center">Id</div>
                            <div class="table-center">Отчет</div>
                            <div class="table-center">Дефект</div>
                            <div class="table-center">Дата</div>
                            <div class="table-center">Проверил</div>
                            <div class="table-center">Уд.</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row quality-report-defect_adm dict-block__row_hidden" data-id="0"
                                 id="qualityReportDefect-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text table-center" data-field="id"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="quality_report" data-field="quality_report"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="defect" data-field="defect"></div>
                                <div class="dict-block__text table-center"
                                     data-field="date_create">{{ date_now|date:"d.m.y H:i" }}</div>
                                <div class="dict-block__text table-center"
                                     data-field="user">{{ request.user.username }}</div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- качество <=>  дефекты-->
                    <details class="dict-block dict-block__2 dict-block_adm dict-block__adm_half" id="ejectorType">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-regular fa-bookmark"></i>&nbsp;Тип толкателя
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active screw-type">
                            <div>id</div>
                            <div>Тип</div>
                            <div>Удалено</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content dict-block__content_adm">
                            <div class="dict-block__row screw-type dict-block__row_hidden" data-id="0"
                                 id="ejectorType-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="id"></div>
                                <div class="dict-block__text" data-field="type"
                                     data-name="type"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- тип толкателя -->
                    <details class="dict-block dict-block__2 dict-block_adm dict-block__adm_half" id="screwType">
                        <summary class="dict-block__header dict-block__header_open dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-regular fa-bookmark"></i>&nbsp;Тип шнека
                            </div>
                            <div class="dict-block__search dict-block__search_open">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active screw-type_adm">
                            <div>id</div>
                            <div>Геометрия</div>
                            <div>Защита</div>
                            <div>Материал</div>
                            <div>Удалено</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row screw-type_adm dict-block__row_hidden" data-id="0"
                                 id="screwType-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="id"></div>
                                <div class="dict-block__text" data-field="geometry"
                                     data-name="geometry"></div>
                                <div class="dict-block__text" data-field="resistance"
                                     data-name="resistance"></div>
                                <div class="dict-block__text" data-field="bimetallic"
                                     data-name="bimetallic"></div>
                                <div class="dict-block__text bool-field table-center" data-id=""
                                     data-name="deleted" data-field="deleted"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- тип шнека -->
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
