{% extends 'header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <script src="{% static 'production/js/dist/index.bundle.js' %}" defer type="module"></script>
{#    <script src="{% static 'production/js/index.js' %}" defer type="module"></script>#}
    <div class="full-content">
        <div class="container">
            {#            <section class="dict-block dict-block__open dict-block__4 dict-block_long" {% if to_approve == 0 %}#}
            {#                     style="display: none" {% endif %}>#}
            {#                <div class="dict-block__header dict-block__header_open dict-block__header_block-space">#}
            {#                    <div class="dict-block__active"><i class=" fa fa-solid fa-bugs"></i>&nbsp;подтверждение выпуска#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="dict-block__row dict-block__active production-to-approve">#}
            {#                    <div></div>#}
            {#                    <div class="digit table-center">дата/время</div>#}
            {#                    <div class="table-center">ТПА</div>#}
            {#                    <div class="table-center mobile__hide">Название</div>#}
            {#                    <div class="">Деталь</div>#}
            {#                    <div class="">Цвет</div>#}
            {#                    <div class="table-center">Кол-во выпущено</div>#}
            {#                    <div class="table-center">Смена</div>#}
            {#                    <div></div>#}
            {#                </div>#}
            {#                <div class="dict-block__content">#}
            {#                    {% for item in production_to_approve %}#}
            {#                        <div class="dict-block__row production-to-approve" data-id="{{ item.id }}" data-last=""#}
            {#                             id="to_approve-{{ item.id }}">#}
            {#                            <div class="hex" style="background-color: {{ item.color.color_code }};"></div>#}
            {#                            <div class="dict-block__text work__date table-center">{{ item.date|date:"d.m.y H:i" }}</div>#}
            {#                            <div class="dict-block__text work__imm table-center">{{ item.imm.plant_code }}</div>#}
            {#                            <div class="dict-block__text work__name mobile__hide">{{ item.imm }}</div>#}
            {#                            <div class="dict-block__text work__detail">{{ item.detail }}</div>#}
            {#                            <div class="dict-block__text work__color">{{ item.color }}</div>#}
            {#                            <div class="dict-block__text work__quantity digit">{{ item.quantity }}</div>#}
            {#                            <div class="dict-block__text work__user table-center">{{ item.user.last_name }}</div>#}
            {#                            <form method="post" action="{%  url 'production:shift_approved' %}">#}
            {#                                {%  csrf_token %}#}
            {#                                <input type="number" name="id" value="{{ item.id }}" hidden>#}
            {#                                <button class="btn btn-save" type="submit">#}
            {#                                    подтвердить#}
            {#                                </button>#}
            {#                            </form>  #}
            {#                            <form method="post" action="{%  url 'production:shift_rejected' %}">#}
            {#                                {%  csrf_token %}#}
            {#                                <input type="number" name="id" value="{{ item.id }}" hidden>#}
            {#                                <button class="btn btn-close" type="submit">#}
            {#                                    удалить#}
            {#                                </button>#}
            {#                            </form>#}
            {#                        </div>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </section><!-- текущее на подтверждение -->#}

            <section class="dict-block dict-block__open dict-block__4 dict-block_long">
                <div class="dict-block__header dict-block__header_open dict-block__header_block-space">
                    <div class="dict-block__active"><i class=" fa fa-solid fa-person-digging"></i>&nbsp;В работе
                    </div>
                    <div class="dict-block__search dict-block__search_open">
                    </div>
                </div>
                <div class="dict-block__row dict-block__active in-production">
                    <div class="">ТПА</div>
                    <div class="table-center mobile__hide">Название</div>
                    <div class="table-center">Деталь</div>
                    <div class="table-center">Цвет</div>
                    <div class="digit">Кол-во</div>
                    <div class="digit mobile__hide">На проверке</div>
                    <div class="digit mobile__hide">Принято</div>
                    <div class="digit">Осталось</div>
                    <div class="table-center mobile__hide">Заказ</div>
                    <div></div>
                    <div></div>
                </div>
                <div class="dict-block__content">
                    {% for item in imm %}
                        <div class="dict-block__row in-production" data-id="{{ item.id }}" data-last=""
                             id="imm-{{ item.id }}">
                            <div class="dict-block__text work__imm">{{ item.plant_code }}</div>
                            <div class="dict-block__text work__name mobile__hide">{{ item }}</div>
                            <div class="dict-block__text work__detail"></div>
                            <div class="dict-block__text work__color"></div>
                            <div class="dict-block__text work__quantity digit"></div>
                            <div class="dict-block__text work__checking digit mobile__hide"></div>
                            <div class="dict-block__text work__approved digit mobile__hide"></div>
                            <div class="dict-block__text work__left digit"></div>
                            <div class="dict-block__text work__if_order table-center mobile__hide"></div>
                            <button class="btn btn-save form-input__inactive" type="button" disabled>
                                выпуск
                            </button>
                            <button class="btn btn-close form-input__inactive" type="button" disabled>
                                стоп
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </section><!-- в работе -->
            <section class="dict-block dict-block__open  dict-block__open_production dict-block__4 dict-block_long">
                <div class="dict-block__header dict-block__header_open dict-block__header_block-space">
                    <div class="dict-block__active"><i class="fa fa-solid fa-volume-high"></i>&nbsp;Заказы на
                        производство
                    </div>
                    <div class="dict-block__search dict-block__search_open">
                        {#                        <i class="fa fa-solid fa-magnifying-glass"></i>#}
                        {#                        <input type="search" class="form-input dict-block__form-input"#}
                        {#                               placeholder="искать..." disabled>#}
                        {#                        <button class="btn btn-save search_submit" type="button">поиск</button>#}
                        {#                        <button class="btn btn-close search_clear" type="button">очистить</button>#}
                    </div>
                </div>
                <div class="dict-block__row dict-block__active production">
                    <div></div>
                    <div class="table-center">Деталь</div>
                    <div class="table-center">Цвет</div>
                    <div class="digit mobile__hide">Кол-во</div>
                    <div class="digit mobile__hide">Произведено</div>
                    <div class="digit mobile__hide">Принято</div>
                    <div class="digit">Осталось</div>
                    <div class="table-center mobile__hide">Заказ</div>
                    <div class="table-center mobile__hide">Дата</div>
                    <div class="table-center mobile__hide">Комментарий</div>
                    <div class="table-center mobile__hide table-center">На ТПА</div>
                    <div></div>
                </div>
                <div class="dict-block__content">
                </div>
            </section><!-- план производства -->

        </div>
    </div>
    <div id="technical-data" hidden>
        <div class="dict-block__row production">
            <div class="hex">
            </div>
            <div class="dict-block__text req__detail"></div>
            <div class="dict-block__text req__color"></div>
            <div class="dict-block__text req__quantity digit mobile__hide"></div>
            <div class="dict-block__text req__produced digit mobile__hide"></div>
            <div class="dict-block__text req__approved digit mobile__hide"></div>
            <div class="dict-block__text req__left digit"></div>
            <div class="dict-block__text req__if_order table-center mobile__hide"></div>
            <div class="dict-block__text req__first_date table-center mobile__hide"></div>
            <div class="dict-block__text req__comment mobile__hide table-center"></div>
            <div class="dict-block__text req__queue mobile__hide table-center"></div>
            <button class="btn btn-close" type="button">
                начать
            </button>
        </div>
        <div id="in-work">{{ in_work }}</div>
        <div id="on-request">{{ on_request }}</div>
    </div>
    <!-- Модальное окно для старта -->
    <div id="startModal" class="login">
        <div class="login__content">
            <form method="post" id="production-start-form" action="{% url 'production:production_start' %}">
                {% csrf_token %}
                <div class="login__header">
                    <p class="active">Выберите ТПА</p>
                    <span class="login__close">&times;</span>
                </div>
                <input type="text" name="color" hidden>
                <input type="text" name="detail" hidden>
                <div class="dropdown report_dropdown dropdown_dict">
                    <input name="imm" type="text" class="dropdown__hidden"
                           required>
                    <div class="dropdown__input-block dropdown__input-block_start">
                        <input type="text" class="dropdown__input dropdown__input_dict"
                               placeholder="Поиск.." onkeyup="filterList(this)" required>
                        <i class="fa fa-solid fa-angle-down"></i>
                    </div>
                    <ul class="dropdown__content">
                        {% for report in imm_free %}
                            <li data-value="{{ report.id }}">
                                <span class="active font-normal">{{ report.plant_code }}</span>&nbsp;{{ report }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="login__buttons dropdown__input-block_start">
                    <button type="submit" class="btn btn-save">Начать</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Модальное окно для остановки -->
    <div id="stopModal" class="login">
        <div class="login__content">
            <form method="post" id="production-stop-form" action="{% url 'production:production_stop' %}">
                {% csrf_token %}
                <div class="login__header">
                    <p class="active">Причина остановки</p>
                    <span class="login__close">&times;</span>
                </div>
                <input type="text" name="imm" hidden>
                <textarea name="stop_reason"
                          class="form-input dropdown__input-block_start form-input_stop" required></textarea>
                <div class="login__buttons dropdown__input-block_start">
                    <button type="submit" class="btn btn-save">Остановить</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Модальное окно для выпуска продукции -->
    <div id="productionModal" class="login">
        <div class="login__content">
            <form method="post" id="production-form" action="{% url 'production:production_report' %}">
                {% csrf_token %}
                <div class="login__header">
                    <p class="active">Выпущено штук</p>
                    <span class="login__close">&times;</span>
                </div>
                <input type="text" name="color" hidden>
                <input type="text" name="detail" hidden>
                <input type="text" name="imm" hidden>
                <input type="number" name="quantity" step="1"
                       class="form-input dropdown__input-block_start form-input_stop" required>
                <div class="login__buttons dropdown__input-block_start">
                    <button type="submit" class="btn btn-save">Подтвердить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
