{% extends 'header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <script src="{% static 'production/js/dist/quality.bundle.js' %}" defer type="module"></script>
{#    <script src="{% static 'production/js/quality.js' %}" defer type="module"></script>#}
    <div class="full-content">
        <div class="container">
            <section class="dict-block dict-block__open  dict-block__open_production dict-block__4 dict-block_long">
                <div class="dict-block__header dict-block__header_open dict-block__header_block-space">
                    <div class="dict-block__active"><i class="fa fa-solid fa-microscope"></i>&nbsp;Отчет ОТК
                    </div>
                    <form action="#" class="dict-block__search dict-block__search_open">
                        <label for="date-start">с&nbsp;</label>
                        <input type="date" class="form-input" id="date-start" value="{{ start_date|date:'Y-m-d' }}" required>
                        <label for="date-start">по&nbsp;</label>
                        <input type="date" class="form-input" id="date-end" value="{{ now|date:'Y-m-d' }}" required>
                        <button class="btn btn-save" type="submit">показать</button>
                    </form>
                </div>
                <div class="dict-block__row dict-block__active quality-list">
                    <div class="table-center">Дата</div>
                    <div class="table-center">Смена</div>
                    <div class="table-center">ТПА</div>
                    <div class="">Деталь</div>
                    <div class="">Цвет</div>
                    <div class="digit">Выпуск</div>
                    <div class="digit">ОТК</div>
                    <div class="digit">Принято</div>
                    <div class="digit">Принято с&nbsp;браком</div>
                    <div class="digit">Брак</div>
                    <div class="digit">Проверить</div>
                    <div class="table-center">% Брака</div>
                </div>
                <div class="dict-block__content">
                </div>
            </section><!-- производство -->

        </div>
    </div>
    <div id="technical-data" hidden>
        <details class=" quality-list">
            <summary class="dict-block__row quality-list">
                <div class="dict-block__text req__production_date table-center"></div>
                <div class="dict-block__text req__produce_user table-center"></div>
                <div class="dict-block__text req__imm_code table-center"></div>
                <div class="dict-block__text req__detail"></div>
                <div class="dict-block__text req__color"></div>
                <div class="dict-block__text req__quantity digit"></div>
                <div class="dict-block__text req__quantity_checked digit"></div>
                <div class="dict-block__text req__quantity_approved digit"></div>
                <div class="dict-block__text req__quantity_approved_defect digit"></div>
                <div class="dict-block__text req__defect digit"></div>
                <div class="dict-block__text req__quantity_checking digit"></div>
                <div class="dict-block__text req__defect_percent table-center"></div>
            </summary>
            <div class="quality-content">
                <div class="quality-content__row dict-block__row ">
                    <div class="">Дата</div>
                    <div class="">Проверил</div>
                    <div class="digit">Проверено</div>
                    <div class="digit">Принято</div>
                    <div class="digit">Принято с&nbsp;браком</div>
                    <div class="digit">Брак</div>
                    <div class="table-center">% брака</div>
                    <div class="table-center">виды брака</div>
                    <div class="table-center">комментарий</div>
                    <div class="table-center">по браку</div>
                    <div></div>
                </div>
            </div>
        </details>
        <div class="quality-content__row dict-block__row qual__row">
            <div class="qual__date_check"></div>
            <div class="qual__user"></div>
            <div class="qual__quantity_checked digit"></div>
            <div class="qual__quantity_approved digit"></div>
            <div class="qual__quantity_approved_defect digit"></div>
            <div class="qual__quantity_defect digit"></div>
            <div class="qual__defect_percent table-center"></div>
            <div class="qual__defects table-center"></div>
            <div class="qual__comment table-center"></div>
            <div class="qual__defect_event table-center"></div>
            <button class="btn btn-close" type="button">
                править
            </button>
        </div>
    </div>
    <!-- Модальное окно для правки -->
    <div id="qualityModal" class="login">
        <div class="modal__content">
            <form method="post" id="production-form" action="#">
                {% csrf_token %}
                <div class="login__header">
                    <p class="active">Редактирование приемки</p>
                    <span class="login__close">&times;</span>
                </div>
                <input type="text" name="production" hidden>
                <div class="modal__row modal__row_quality">
                    <div>производство</div>
                    <div id="date" class=""></div>
                    <div id="user" class=""></div>
                    <div class="" id="detail"></div>
                    <div class="" id="color"></div>
                    <div class="" id="quantity"></div>
                </div>
                <div class="modal__row">
                    <div class="">проверено</div>
                    <div id="quantity_checked" class=""></div>
                    <div class="">принято</div>
                    <div id="quantity_approved" class=""></div>
                    <div class="">с&nbsp;браком</div>
                    <div id="quantity_approved_defect" class=""></div>
                    <div id="defect_event" class="active"></div>
                </div>
                <div class="modal__row">
                    <p class="active">дополнительные виды брака</p>
                </div>
                <div class="modal__block">
                        <div class="modal__check">
                        </div>
                </div>
                <div class="modal__row">
                    <textarea id="comment" name="comment" class="modal__textarea" placeholder="Комментарий"
                              required></textarea>
                </div>
                <div class="modal__row">
                    <div></div>
                    <div class="button-block">
                        <button type="button" class="btn btn-close">Отменить</button>
                        <button type="submit" class="btn btn-save">Записать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
