{% extends 'header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="full-content">
        <div class="container">
            <section class="dict-block dict-block_open dict-block__4 dict-block_long">
                <div class="dict-block__header dict-block__header_open dict-block__header_block-space">
                    <div class="dict-block__active"><i class="fa fa-solid fa-paintbrush"></i>&nbsp;Производственное
                        задание
                    </div>
                    <div class="dict-block__search dict-block__search_open">
                        <i class="fa fa-solid fa-magnifying-glass"></i>
                        <input type="search" class="form-input dict-block__form-input"
                               placeholder="искать...">
                        <button class="btn btn-save search_submit" type="button">поиск</button>
                        <button class="btn btn-close search_clear" type="button">очистить</button>
                    </div>
                </div>
                <div class="dict-block__row dict-block__active production-request">
                    <div>Дата</div>
                    <div>Деталь</div>
                    <div>Цвет</div>
                    <div>Количество</div>
                    <div>Осталось</div>
                    <div>Заказ</div>
                    <div>Выполнено</div>
                    <div>Создал</div>
                    <button class="btn btn-save btn_add">добавить</button>
                </div>
                <div class="dict-block__content">
                    <div class="dict-block__row production-request dict-block__row_hidden" data-id="0"
                         id="productRequest-0" onclick="editDictionary(this);">
                        <input class="id-hidden" name="id" value="0">
                        <div class="dict-block__text" data-field="date_create">{{ date_now|date:"d.m.y H:i" }}</div>
                        <div class="dict-block__text foreign-key" data-id=""
                             data-name="detail" data-field="detail"></div>
                        <div class="dict-block__text foreign-key" data-id=""
                             data-name="color" data-field="color"></div>
                        <div class="dict-block__text"
                             data-name="quantity" data-field="quantity"></div>
                        <div class="dict-block__text"
                             data-field="quantity_left"></div>
                        <div class="dict-block__text bool-field" data-id=""
                             data-name="if_order" data-field="if_order"></div>
                        <div class="dict-block__text" data-field="date_close"></div>
                        <div class="dict-block__text "
                             data-field="user">{{ request.user.username }}</div>
                        <button class="btn btn-close btn_delete" type="button" onclick="event.stopPropagation();">
                            удалить
                        </button>
                    </div>
                    {% for item in product_request %}
                        <div class="dict-block__row production-request" data-id="{{ item.id }}" data-last=""
                             id="productRequest-{{ item.id }}" onclick="editDictionary(this);">
                            <input class="id-hidden" name="id" value="{{ item.id }}">
                            <div class="dict-block__text">{{ item.date_create|date:'d.m.y H:i' }}</div>
                            <div class="dict-block__text foreign-key" data-id="{{ item.detail.id }}"
                                 data-name="detail">{{ item.detail }}</div>
                            <div class="dict-block__text foreign-key" data-id="{{ item.color.id }}"
                                 data-name="color">{{ item.color }}</div>
                            <div class="dict-block__text"
                                 data-name="quantity">{{ item.quantity }}</div>
                            <div class="dict-block__text"
                                 data-name="quantity_left">{{ item.quantity_left }}</div>
                            <div class="dict-block__text bool-field"
                                 data-name="if_order" data-id="{% if item.if_order %}1{% else %}0{% endif %}">
                                {% if item.if_order %}Да{% else %}Нет{% endif %}</div>
                            <div class="dict-block__text">{{ item.date_close|date:'d.m.Y H:M' }}</div>
                            <div class="dict-block__text" data-id="{{ item.user.id }}">{{ item.user.username }}</div>
                            <button class="btn btn-close btn_delete" type="button"
                                    onclick="event.stopPropagation();">
                                удалить
                            </button>
                        </div>
                    {% endfor %}
                    {% for item in color_end %}
                        <div class="dict-block__row product-request" data-id="{{ item.id }}"
                             id="productRequest-{{ item.id }}" onclick="editDictionary(this);" data-last="20">
                            <input class="id-hidden" name="id" value="{{ item.id }}">
                            <div class="dict-block__text">{{ item.date_create|date:'d.m.y H:i' }}</div>
                            <div class="dict-block__text foreign-key" data-id="{{ item.detail.id }}"
                                 data-name="detail">{{ item.detail }}</div>
                            <div class="dict-block__text foreign-key" data-id="{{ item.color.id }}"
                                 data-name="color">{{ item.color }}</div>
                            <div class="dict-block__text"
                                 data-name="quantity">{{ item.quantity }}</div>
                            <div class="dict-block__text"
                                 data-name="quantity_left">{{ item.quantity_left }}</div>
                            <div class="dict-block__text bool-field"
                                 data-name="if_order" data-id="{% if item.if_order %}1{% else %}0{% endif %}">
                                {% if item.if_order %}Да{% else %}Нет{% endif %}</div>
                            <div class="dict-block__text">{{ item.date_close|date:'d.m.Y H:M' }}</div>
                            <div class="dict-block__text" data-id="{{ item.user.id }}">{{ item.user.username }}</div>
                            <button class="btn btn-close btn_delete" type="button"
                                    onclick="event.stopPropagation();">
                                удалить
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </section><!-- цвета -->

        </div>
    </div>
    <div id="technical-data" hidden>
        <div id="detail">
            <div class="dropdown report_dropdown dropdown_dict">
                <input name="detail" type="text" class="dropdown__hidden"
                       value="{{ detail.0.id }}">
                <div class="dropdown__input-block">
                    <input type="text" class="dropdown__input dropdown__input_dict"
                           placeholder="Поиск.." onkeyup="filterList(this)"
                           value="{{ detail.0 }}"
                           data-value="{{ detail.0 }}">
                    <i class="fa fa-solid fa-angle-down"></i>
                </div>
                <ul class="dropdown__content">
                    {% for report in detail %}
                        <li data-value="{{ report.id }}"
                            onclick="event.stopPropagation(); selectFromList(this);">{{ report }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="color">
            <div class="dropdown report_dropdown dropdown_dict">
                <input name="color" type="text" class="dropdown__hidden"
                       value="{{ color.0.id }}">
                <div class="dropdown__input-block">
                    <input type="text" class="dropdown__input dropdown__input_dict"
                           placeholder="Поиск.." onkeyup="filterList(this)"
                           value="{{ color.0 }}"
                           data-value="{{ color.0 }}">
                    <i class="fa fa-solid fa-angle-down"></i>
                </div>
                <ul class="dropdown__content">
                    {% for report in color %}
                        <li data-value="{{ report.id }}"
                            onclick="event.stopPropagation(); selectFromList(this);">{{ report }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="boolean">
            <div class="dropdown report_dropdown dropdown_dict">
                <input name="bool" type="text" class="dropdown__hidden"
                       value="1">
                <div class="dropdown__input-block">
                    <input type="text" class="dropdown__input dropdown__input_dict"
                           placeholder="Поиск.."
                           value="Да"
                           data-value="Да" readonly>
                    <i class="fa fa-solid fa-angle-down"></i>
                </div>
                <ul class="dropdown__content">
                    <li data-value="1"
                        onclick="event.stopPropagation(); selectFromList(this);">Да
                    </li>
                    <li data-value="0"
                        onclick="event.stopPropagation(); selectFromList(this);">Нет
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'production/js/dictionary.js' %}"></script>

{% endblock %}
