{% extends 'header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <script src="{% static 'production/js/dist/request.bundle.js' %}"type="module" defer></script>
{#    <script src="{% static 'production/js/request.js' %}"type="module" defer></script>#}
    <div class="full-content">
        <div class="container">
            <section class="dict-block dict-block__open dict-block__4 dict-block_long">
                <div class="dict-block__header dict-block__header_open dict-block__header_block-space">
                    <div class="dict-block__active"><i class="fa fa-solid fa-hands-asl-interpreting"></i>&nbsp;Заявки на
                        производство
                    </div>
                    <div class="dict-block__search dict-block__search_open">
                        <div class="modal__check">
                            <input type="checkbox" id="unclosed" checked>
                            <label for="unclosed">скрыть закрытые</label>
                        </div>
                        <i class="fa fa-solid fa-magnifying-glass"></i>
                        <input type="search" class="form-input dict-block__form-input"
                               placeholder="искать...">
                        <button class="btn btn-save search_submit" type="button">поиск</button>
                        <button class="btn btn-close search_clear" type="button">очистить</button>
                    </div>
                </div>
                <div class="dict-block__row dict-block__active production-request">
                    <div></div>
                    <div>Дата</div>
                    <div>Деталь</div>
                    <div>Цвет</div>
                    <div class="digit">Кол-во</div>
                    <div class="digit">Осталось</div>
                    <div class="table-center">Заказ</div>
                    <div class="table-center">Выполнено</div>
                    <div class="table-center">Создал</div>
                    <div class="table-center">Комментарий</div>
                    <div class="table-center">Тех.</div>
                    <div></div>
                    <button class="btn btn-save btn_add">добавить</button>
                </div>
                <div class="dict-block__content">
                    <div class="dict-block__row production-request dict-block__row_hidden" data-id="0"
                         id="productRequest-0">
                        <input class="id-hidden" name="id" value="0">
                        <div class="dict-block__text hex"></div>
                        <div class="dict-block__text" data-field="date_create">{{ date_now|date:"d.m.y H:i" }}</div>
                        <div class="dict-block__text foreign-key" data-id=""
                             data-name="detail" data-field="detail"></div>
                        <div class="dict-block__text foreign-key" data-id=""
                             data-name="color" data-field="color" data-filter="detail"></div>
                        <div class="dict-block__text digit"
                             data-name="quantity" data-field="quantity"></div>
                        <div class="dict-block__text digit"
                             data-field="quantity_left"></div>
                        <div class="dict-block__text bool-field table-center" data-id="0"
                             data-name="if_order" data-field="if_order">Нет
                        </div>
                        <div class="dict-block__text table-center" data-field="date_close"></div>
                        <div class="dict-block__text table-center"
                             data-field="user">{{ request.user.last_name }}</div>
                        <div class="dict-block__text table-center" data-name="comment"
                             data-field="comment"></div>
                        <div class="dict-block__text bool-field table-center" data-id="0"
                             data-name="technical" data-field="technical">Нет
                        </div>
                        <button class="btn btn-save btn_reduce" type="button">
                            закрыть
                        </button>
                        <button class="btn btn-close btn_delete" type="button">
                            удалить
                        </button>
                    </div>
                </div>
            </section><!-- заявки на производство -->

        </div>
    </div>

{% endblock %}
