{% extends 'header.html' %}
{% load static %}
{% block title %}Настройки{% endblock %}
{% block content %}
    {#    <script src="{% static 'production/js/dist/dictionary.bundle.js' %}" defer type="module"></script>#}
    <script src="{% static 'production/js/tech_dictionary.js' %}" defer type="module"></script>
    <div class="full-content">
        <div class="container">
            <div class="dict-main">
                <div class="dict-menu">
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">ТПА
                        </summary>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="imm">
                            <label for="imm"><i class="fa fa-solid fa-industry"></i>&nbsp;ТПА</label>
                        </div>
                    </details>
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Пресс-формы
                        </summary>
                    </details>
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Рецептуры</summary>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="recipe">
                            <label for="recipe"><i class="fa fa-solid fa-flask"></i>&nbsp;Дозы базовые</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="recipeDetail">
                            <label for="recipeDetail"><i class="fa fa-solid fa-flask"></i>&nbsp;Дозы текущие</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="recipeColorScheme">
                            <label for="recipeColorScheme"><i class="fa fa-solid fa-flask"></i>&nbsp;Cхема
                                рецептуры</label>
                        </div>
                    </details>
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Продукция
                        </summary>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="detailInGoods">
                            <label for="detailInGoods"><i
                                    class="fa fa-regular fa-pen-to-square"></i>&nbsp;Детали</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="detailBaseWeight">
                            <label for="detailBaseWeight"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Базовый
                                вес детали</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="detailActualWeight">
                            <label for="detailActualWeight"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Актуальный
                                вес детали</label>
                        </div>
                    </details>
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Прочие справочники</summary>
                    </details>
                </div>
                <div class="dict-right">

                </div>
                <div class="dict" style="display: none">
                    <details class="dict-block dict-block__3">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Детали
                            </div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>

                        </summary>
                        <div class="dict-block__row dict-block__active detail-in-goods_tech ">
                            <div>Продукция</div>
                            <div>Поз.</div>
                            <div>Название</div>
                            <div>Схема рецептуры</div>
                            {#                            <div></div>#}
                            {#                            <button class="btn btn-save btn_add">добавить</button>#}
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row detail-in-goods_tech dict-block__row_hidden" data-id="0"
                                 id="detailInGoods-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="goods"
                                     data-id=""></div>
                                <div class="dict-block__text" data-field="position"></div>
                                <div class="dict-block__text" data-field="detail_name" data-id=""></div>
                                <div class="dict-block__text foreign-key" data-field="recipe_color_scheme"
                                     data-name="recipe_color_scheme" data-id=""></div>
                                {#                                <button class="btn btn-close btn_delete" type="button">#}
                                {#                                    удалить#}
                                {#                                </button>#}
                            </div>
                            {% for item in detail_in_goods %}
                                <div class="dict-block__row detail-in-goods_tech" data-id="{{ item.id }}"
                                     id="detailInGoods-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text" data-id="{{ item.goods.id }}"
                                         data-field="goods">{{ item.goods }}</div>
                                    <div class="dict-block__text"
                                         data-field="position">{{ item.position }}</div>
                                    <div class="dict-block__text" data-id="{{ item.detail_name.id }}"
                                         data-field="detail_name">{{ item.detail_name.name }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.recipe_color_scheme.id }}"
                                         data-name="recipe_color_scheme">{{ item.recipe_color_scheme }}</div>
                                    {#                                    <button class="btn btn-close btn_delete" type="button">#}
                                    {#                                        удалить#}
                                    {#                                    </button>#}
                                </div>
                            {% endfor %}
                            {% for item in detail_in_goods_end %}
                                <div class="dict-block__row detail-in-goods_tech" data-id="{{ item.id }}" data-last="20"
                                     id="detailInGoods-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text" data-id="{{ item.goods.id }}"
                                         data-field="good">{{ item.goods.article }}</div>
                                    <div class="dict-block__text"
                                         data-field="position">{{ item.position }}</div>
                                    <div class="dict-block__text" data-id="{{ item.detail_name.id }}"
                                         data-field="detail_name">{{ item.detail_name.name }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.recipe_color_scheme.id }}"
                                         data-name="recipe_color_scheme">{{ item.recipe_color_scheme }}</div>
                                    {#                                    <button class="btn btn-close btn_delete" type="button">#}
                                    {#                                        удалить#}
                                    {#                                    </button>#}
                                </div>
                            {% endfor %}
                        </div>
                    </details><!-- деталь в продукции -->
                    <details class="dict-block dict-block__3">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Детали
                            </div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>

                        </summary>
                        <div class="dict-block__row dict-block__active detail-base-weight">
                            <div>Дата</div>
                            <div>Деталь</div>
                            <div>Вес,&nbsp;г</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row detail-base-weight dict-block__row_hidden" data-id="0"
                                 id="detailBaseWeight-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="date_create">{{ date_now|date:"d.m.Y" }}</div>
                                <div class="dict-block__text foreign-key" data-field="detail_in_goods"
                                     data-name="detail_in_goods" data-id=""></div>
                                <div class="dict-block__text" data-field="weight_g" data-name="weight_g"></div>
                                <button class="btn btn-close btn_delete" type="button">удалить</button>
                            </div>
                            {% for item in detail_base_weight %}
                                <div class="dict-block__row detail-base-weight" data-id="{{ item.id }}"
                                     id="detailBaseWeight-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key" data-field="detail_in_goods"
                                         data-name="detail_in_goods"
                                         data-id="{{ item.detail_in_goods.id }}">{{ item.detail_in_goods }}</div>
                                    <div class="dict-block__text" data-field="weight_g"
                                         data-name="weight_g">{{ item.weight_g }}</div>
                                    <button class="btn btn-close btn_delete" type="button">удалить</button>
                                </div>
                            {% endfor %}
                            {% for item in detail_actual_weight_end %}
                                <div class="dict-block__row detail-base-weight" data-id="{{ item.id }}" data-last="20"
                                     id="detailBaseWeight-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key" data-field="detail_in_goods"
                                         data-name="detail_in_goods"
                                         data-id="{{ item.detail_in_goods.id }}">{{ item.detail_in_goods }}</div>
                                    <div class="dict-block__text" data-field="weight_g"
                                         data-name="weight_g">{{ item.weight_g }}</div>
                                    <button class="btn btn-close btn_delete" type="button">удалить</button>
                                </div>
                            {% endfor %}
                        </div>
                    </details><!-- базовый вес детали -->
                    <details class="dict-block dict-block__3">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Детали
                            </div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>

                        </summary>
                        <div class="dict-block__row dict-block__active detail-actual-weight">
                            <div>Дата</div>
                            <div>Деталь</div>
                            <div>Вес,&nbsp;г</div>
                            <div>Cмена</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row detail-actual-weight dict-block__row_hidden" data-id="0"
                                 id="detailActualWeight-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="date_create">{{ date_now|date:"d.m.Y" }}</div>
                                <div class="dict-block__text foreign-key" data-field="detail_in_goods"
                                     data-name="detail_in_goods" data-id=""></div>
                                <div class="dict-block__text" data-field="weight_g" data-name="weight_g"></div>
                                <div class="dict-block__text foreign-key" data-field="production"
                                     data-filter="detail_in_goods"
                                     data-name="production" data-id=""></div>
                                <button class="btn btn-close btn_delete" type="button">удалить</button>
                            </div>
                            {% for item in detail_actual_weight %}
                                <div class="dict-block__row detail-actual-weight" data-id="{{ item.id }}"
                                     id="detailActualWeight-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key" data-field="detail_in_goods"
                                         data-name="detail_in_goods"
                                         data-id="{{ item.detail_in_goods.id }}">{{ item.detail_in_goods }}</div>
                                    <div class="dict-block__text" data-field="weight_g"
                                         data-name="weight_g">{{ item.weight_g }}</div>
                                    <div class="dict-block__text foreign-key" data-field="production"
                                         data-filter="detail_in_goods"
                                         data-name="production" data-id="{{ item.production.id }}"></div>
                                    <button class="btn btn-close btn_delete" type="button">удалить</button>
                                </div>
                            {% endfor %}
                            {% for item in detail_actual_weight_end %}
                                <div class="dict-block__row detail-actual-weight" data-id="{{ item.id }}" data-last="20"
                                     id="detailActualWeight-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key" data-field="detail_in_goods"
                                         data-name="detail_in_goods"
                                         data-id="{{ item.detail_in_goods.id }}">{{ item.detail_in_goods }}</div>
                                    <div class="dict-block__text" data-field="weight_g"
                                         data-name="weight_g">{{ item.weight_g }}</div>
                                    <div class="dict-block__text foreign-key" data-field="production"
                                         data-filter="detail_in_goods"
                                         data-name="production" data-id="{{ item.production.id }}"></div>
                                    <button class="btn btn-close btn_delete" type="button">удалить</button>
                                </div>
                            {% endfor %}
                        </div>
                    </details><!-- актуальный вес детали -->
                    <details class="dict-block dict-block__4">
                        <summary class="dict-block__header dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-industry"></i>&nbsp;ТПА</div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active imm">
                            <div>Номер</div>
                            <div>Производитель</div>
                            <div>Название</div>
                            <div>Модель</div>
                            <div>Зав. Номер</div>
                            <div>Инв. Номер</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content">
                            <div class="dict-block__row imm dict-block__row_hidden" data-id="0"
                                 id="imm-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text"
                                     data-name="plant_code" data-field="plant_code"></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="producer" data-field="producer" data-id=""></div>
                                <div class="dict-block__text"
                                     data-name="name" data-field="name"></div>
                                <div class="dict-block__text"
                                     data-name="imm_model" data-field="imm_model"></div>
                                <div class="dict-block__text"
                                     data-name="producer_code" data-field="producer_code"></div>
                                <div class="dict-block__text"
                                     data-name="account_code" data-field="account_code"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                            {% for item in imm %}
                                <div class="dict-block__row imm" data-id="{{ item.id }}"
                                     id="imm-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-name="plant_code">{{ item.plant_code }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.producer.id }}"
                                         data-name="producer">{{ item.producer.name }}</div>
                                    <div class="dict-block__text"
                                         data-name="name">{{ item.name }}</div>
                                    <div class="dict-block__text"
                                         data-name="imm_model">{{ item.imm_model }}</div>
                                    <div class="dict-block__text"
                                         data-name="producer_code">{{ item.producer_code }}</div>
                                    <div class="dict-block__text"
                                         data-name="accountCode">{{ item.account_code }}</div>
                                    <button class="btn btn-close btn_delete" type="button">
                                        удалить
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </details><!-- ТПА -->
                    <details class="dict-block dict-block__4">
                        <summary class="dict-block__header dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-flask"></i>&nbsp;Дозы</div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active recipe-detail ">
                            <div>Дата</div>
                            <div>Схема</div>
                            <div>Цвет</div>
                            <div>Смена</div>
                            <div>Тип мат.</div>
                            <div>Материал</div>
                            <div>Доза дробл.</div>
                            <div>Краситель</div>
                            <div>Доза</div>
                            <div>Доп. краситель</div>
                            <div>Доза</div>
                            <div>Комментарий</div>
                            <div></div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content">
                            <div class="dict-block__row recipe-detail dict-block__row_hidden" data-id="0"
                                 id="recipeDetail-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="date_create">{{ date_now|date:"d.m.Y" }}</div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="recipe_color_scheme" data-field="recipe_color_scheme"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="color" data-field="color" data-filter="recipe_color_scheme"></div>
                                <div class="dict-block__text foreign-key" data-id="" data-filter="color"
                                     data-name="production" data-field="production"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="main_material_type" data-field="main_material_type"></div>
                                <div class="dict-block__text foreign-key"
                                     data-id=""
                                     data-name="main_material"></div>
                                <div class="dict-block__text"
                                     data-name="add_material_doze" data-field="add_material_doze"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="main_master" data-field="main_master"></div>
                                <div class="dict-block__text"
                                     data-name="main_master_doze" data-field="main_master_doze"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="add_master" data-field="add_master"></div>
                                <div class="dict-block__text"
                                     data-name="add_master_doze" data-field="add_master_doze"></div>
                                <div class="dict-block__text"
                                     data-name="comment" data-field="comment"></div>
                                <button class="btn btn-save btn_add">в&nbsp;архив</button>
                                <button class="btn btn-close btn_delete" type="button">удалить</button>
                            </div>
                            {% for item in recipe_detail %}
                                <div class="dict-block__row recipe-detail" data-id="{{ item.id }}"
                                     id="recipeDetail-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.recipe_color_scheme.id }}"
                                         data-name="recipe_color_scheme">{{ item.recipe_color_scheme }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.color.id }}"
                                         data-name="color" data-filter="recipe_color_scheme">{{ item.color.code }}</div>
                                    <div class="dict-block__text foreign-key" data-id="" data-filter="color"
                                         data-id="{{ item.production.id }}"
                                         data-name="production" data-field="production">{{ item.production }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_material_type.id }}"
                                         data-name="main_material_type">{{ item.main_material_type.name }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.main_material.id }}"
                                         data-name="main_material">{{ item.main_material }}</div>
                                    <div class="dict-block__text"
                                         data-name="add_material_doze">{{ item.add_material_doze }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_master.id }}"
                                         data-name="main_master">{{ item.main_master }}</div>
                                    <div class="dict-block__text"
                                         data-name="main_master_doze">{{ item.main_master_doze }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.add_master.id }}"
                                         data-name="add_master">{{ item.add_master }}</div>
                                    <div class="dict-block__text"
                                         data-name="add_master_doze">{{ item.add_material_doze }}</div>
                                    <div class="dict-block__text"
                                         data-name="comment">{{ item.comment }}</div>
                                    <button class="btn btn-save btn_add">в&nbsp;архив</button>
                                    <button class="btn btn-close btn_delete" type="button">удалить</button>
                                </div>
                            {% endfor %}
                            {% for item in recipe_detail_end %}
                                <div class="dict-block__row recipe-detail" data-id="{{ item.id }}"
                                     id="recipeDetail-{{ item.id }}" data-last="20">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.recipe_color_scheme.id }}"
                                         data-name="recipe_color_scheme">{{ item.recipe_color_scheme }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.color.id }}"
                                         data-name="color" data-filter="recipe-color-filter">{{ item.color.code }}</div>
                                    <div class="dict-block__text foreign-key" data-id="" data-filter="color"
                                         data-id="{{ item.production.id }}"
                                         data-name="production" data-field="production">{{ item.production }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_material_type.id }}"
                                         data-name="main_material_type">{{ item.main_material_type.name }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.main_material.id }}"
                                         data-name="main_material">{{ item.main_material }}</div>
                                    <div class="dict-block__text"
                                         data-name="add_material_doze">{{ item.add_material_doze }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_master.id }}"
                                         data-name="main_master">{{ item.main_master }}</div>
                                    <div class="dict-block__text"
                                         data-name="main_master_doze">{{ item.main_master_doze }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.add_master.id }}"
                                         data-name="add_master">{{ item.add_master }}</div>
                                    <div class="dict-block__text"
                                         data-name="add_master_doze">{{ item.add_material_doze }}</div>
                                    <div class="dict-block__text"
                                         data-name="comment">{{ item.comment }}</div>
                                    <button class="btn btn-save btn_add">в&nbsp;архив</button>
                                    <button class="btn btn-close btn_delete" type="button">удалить</button>
                                </div>
                            {% endfor %}
                        </div>
                    </details><!-- дозы текущие -->
                    <details class="dict-block dict-block__4">
                        <summary class="dict-block__header dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-solid fa-flask"></i>&nbsp;Дозы</div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active recipe ">
                            <div>Дата</div>
                            <div>Схема</div>
                            <div>Цвет</div>
                            <div>Материал</div>
                            <div>Краситель</div>
                            <div>Доза</div>
                            <div>Комментарий</div>
                            <div></div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content">
                            <div class="dict-block__row recipe dict-block__row_hidden" data-id="0"
                                 id="recipe-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="date_create">{{ date_now|date:"d.m.Y" }}</div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="recipe_color_scheme" data-field="recipe_color_scheme"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="color" data-field="color" data-filter="recipe_color_scheme"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="main_material_type" data-field="main_material_type"></div>
                                <div class="dict-block__text foreign-key" data-id=""
                                     data-name="main_master" data-field="main_master"></div>
                                <div class="dict-block__text"
                                     data-name="main_master_doze" data-field="main_master_doze"></div>
                                <div class="dict-block__text"
                                     data-name="comment" data-field="comment"></div>
                                <button class="btn btn-save btn_add">в&nbsp;архив</button>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                            {% for item in recipe %}
                                <div class="dict-block__row recipe" data-id="{{ item.id }}"
                                     id="recipe-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.recipe_color_scheme.id }}"
                                         data-name="recipe_color_scheme">{{ item.recipe_color_scheme }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.color.id }}"
                                         data-name="color" data-filter="recipe_color_scheme">{{ item.color.code }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_material_type.id }}"
                                         data-name="main_material_type">{{ item.main_material_type.name }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_master.id }}"
                                         data-name="main_master">{{ item.main_master }}</div>
                                    <div class="dict-block__text"
                                         data-name="main_master_doze">{{ item.main_master_doze }}</div>
                                    <div class="dict-block__text"
                                         data-name="comment">{{ item.comment }}</div>
                                    <button class="btn btn-save btn_add">в&nbsp;архив</button>
                                    <button class="btn btn-close btn_delete" type="button">
                                        удалить
                                    </button>
                                </div>
                            {% endfor %}
                            {% for item in recipe_end %}
                                <div class="dict-block__row recipe" data-id="{{ item.id }}"
                                     id="recipe-{{ item.id }}" data-last="20">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text"
                                         data-field="date_create">{{ item.date_create|date:"d.m.Y" }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.recipe_color_scheme.id }}"
                                         data-name="recipe_color_scheme">{{ item.recipe_color_scheme }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.color.id }}"
                                         data-name="color" data-filter="goods">{{ item.color.code }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_material_type.id }}"
                                         data-name="main_material_type">{{ item.main_material_type.name }}</div>
                                    <div class="dict-block__text foreign-key" data-id="{{ item.main_master.id }}"
                                         data-name="main_master">{{ item.main_master }}</div>
                                    <div class="dict-block__text"
                                         data-name="main_master_doze">{{ item.main_master_doze }}</div>
                                    <div class="dict-block__text"
                                         data-name="comment">{{ item.comment }}</div>
                                    <button class="btn btn-save btn_add">в&nbsp;архив</button>
                                    <button class="btn btn-close btn_delete" type="button">
                                        удалить
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </details><!-- дозы базовые -->
                    <details class="dict-block dict-block__2">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Схема
                                рецептуры
                            </div>
                            <div class="dict-block__search">
                                {#                                <i class="fa fa-solid fa-magnifying-glass"></i>#}
                                {#                                <input type="search" class="form-input dict-block__form-input"#}
                                {#                                       placeholder="искать...">#}
                                {#                                <button class="btn btn-save search_submit" type="button">поиск</button>#}
                                {#                                <button class="btn btn-close search_clear" type="button">очистить</button>#}
                            </div>

                        </summary>
                        <div class="dict-block__row dict-block__active recipe-color-scheme ">
                            <div>Название</div>
                            <div>Цветовая схема</div>
                            {#                            <div></div>#}
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row recipe-color-scheme dict-block__row_hidden" data-id="0"
                                 id="recipeColorScheme-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="name" data-name="name"
                                     data-id=""></div>
                                <div class="dict-block__text foreign-key" data-field="color_scheme"
                                     data-name="color_scheme" data-id=""></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                            {% for item in recipe_color_scheme %}
                                <div class="dict-block__row recipe-color-scheme" data-id="{{ item.id }}"
                                     id="recipeColorScheme-{{ item.id }}">
                                    <input class="id-hidden" name="id" value="{{ item.id }}">
                                    <div class="dict-block__text" data-id="{{ item.goods.id }}"
                                         data-name="name">{{ item.name }}</div>
                                    <div class="dict-block__text foreign-key"
                                         data-id="{{ item.color_scheme.id }}"
                                         data-name="recipe_color_scheme">{{ item.color_scheme }}</div>
                                    <button class="btn btn-close btn_delete" type="button">
                                        удалить
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </details><!-- схема рецептуры -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}
