.header {
  position: fixed;
  width: 100%;
  background-color: #BF9F73;
  z-index: 20;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu__left {
  display: flex;
}
.menu__right {
  display: flex;
}
.menu__mobile {
  display: none;
}
.menu__item {
  padding: 20px 10px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 4px;
  transition: all 0.3s ease-out;
}
.menu__item:hover {
  color: #293D32;
  background-color: #EFE7DC;
  box-shadow: 4px 4px 8px #293D32;
}

.active {
  font-weight: 900;
}

.login {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: auto;
}
.login__header {
  padding: 4px;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  background-color: #BF9F73;
  display: flex;
  flex-direction: row;
  color: #293D32;
  align-items: center;
}
.login__content {
  margin: 15% auto;
  padding: 16px;
  border: 1px solid #293D32;
  width: 300px;
  border-radius: 10px;
  background-color: #DFCFB9;
  box-shadow: 6px 6px 12px #293D32;
}
.login__text {
  margin: 6px;
  tab-size: 16px;
}
.login__input {
  font: inherit;
  padding: 4px;
  border-radius: 10px;
  border-style: solid;
  margin: 4px;
}
.login__buttons {
  width: 100%;
  text-align: right;
}
.login__close {
  color: #EFE7DC;
  float: right;
  font-size: 16px;
  padding: 8px;
}
.login__close:hover, .login__close:focus {
  color: #293D32;
  text-decoration: none;
  cursor: pointer;
}

.mobile__show {
  display: none;
}
.mobile__hide {
  display: inline;
}

@media (max-width: 767px) {
  .mobile__show {
    display: inline;
  }
  .mobile__hide {
    display: none;
  }
  .menu {
    padding: 0 10px;
    position: relative;
  }
  .menu__item {
    padding: 10px 10px 10px 10px;
  }
  .menu__left {
    display: none;
  }
  .menu__left:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #BF9F73;
  }
  .menu__mobile {
    display: block;
    padding-right: 108px;
  }
  .menu__mobile:hover + .menu__left {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 44px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #BF9F73;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #151E19;
  font-family: "Montserrat", sans-serif;
}

.auth-needed {
  padding-top: 18vh;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.full-content {
  background-color: #EFE7DC;
  min-height: 100vh;
  padding-top: 90px;
}

.top-label {
  margin-top: 6px;
}

.id-hidden {
  display: none;
}

.visible {
  display: block;
}

.form-row {
  display: grid;
  grid-column: 1/-1;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.form-row__double {
  grid-column: span 2;
}
.form-select {
  margin-bottom: 6px;
  border: 1px solid #293D32;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 6px;
  background-color: #EFE7DC;
}
.form-input {
  border: 1px solid #293D32;
  border-radius: 10px;
  padding: 8px 4px;
  background-color: #EFE7DC;
}
.form-input_stop {
  width: 100%;
}
.form-input__inactive {
  opacity: 0.5;
}

.btn {
  border: 1px solid;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  color: #EFE7DC;
  transition: all 0.3s ease-out;
}
.btn i {
  color: inherit;
}
.btn-save {
  background-color: #293D32;
  border-color: #293D32;
}
.btn-save:hover {
  color: #293D32;
  background-color: transparent;
}
.btn-close {
  background-color: #86A0AC;
  border-color: #86A0AC;
}
.btn-close:hover {
  color: #86A0AC;
  background-color: transparent;
}

.fa {
  padding: 0 4px;
}

.dropdown {
  position: relative;
  height: 40px;
}
.dropdown__content {
  width: 100%;
  list-style: none;
  overflow: auto;
  border: 1px solid #293D32;
  border-radius: 10px;
  position: absolute;
  background-color: #EFE7DC;
  display: none;
  z-index: 7;
}
.dropdown__content li {
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.dropdown__content li:hover {
  color: #EFE7DC;
  background-color: #293D32;
}
.dropdown__input-block {
  display: flex;
  align-items: center;
  border: 1px solid #293D32;
  border-radius: 10px;
  background-color: #EFE7DC;
}
.dropdown__input-block_start {
  margin-top: 20px;
}
.dropdown__input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  padding: 7px 10px;
  border: 1px solid transparent;
}
.dropdown__input:focus {
  outline: none;
  font-weight: 600;
}
.dropdown__hidden {
  display: none;
}

.visible {
  display: block;
}

.search-block {
  display: flex;
  align-items: center;
  justify-content: "flex-end";
  gap: 10px;
}
.search-block__form-input {
  min-width: 390px;
}

.button-block {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.border-title {
  margin-left: 20px;
  border: 1px solid #293D32;
  border-radius: 10px;
  border-color: transparent;
  padding: 2px 8px;
  background-color: #EFE7DC;
  z-index: 3;
  width: auto;
  position: absolute;
  top: -14px;
}
.border-title_down {
  top: calc(100% - 14px);
}

.alert {
  color: #86A0AC;
}

.digit {
  text-align: end;
}

.table-center {
  text-align: center;
}

@media (max-width: 767px) {
  .full-content {
    padding-top: 60px;
  }
  .btn {
    padding: 8px 2px;
    font-size: 14px;
  }
}
.dict {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-flow: dense;
  gap: 20px;
}

.dict-block {
  max-width: 382.5px;
  border: 1px solid #293D32;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 143px;
  transition: scale 2s ease, max-height 0.6s ease-in-out, max-width 0.4s ease-in-out;
  overflow: hidden;
  box-shadow: 6px 6px 12px #293D32;
  cursor: pointer;
}
.dict-block_long {
  max-width: 600px;
}
.dict-block:hover {
  transform: scale(1.03);
}
.dict-block__active {
  font-weight: 800;
}
.dict-block__header {
  padding: 60px;
  background-color: #DFCFB9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dict-block__header_open {
  padding: 20px;
  justify-content: space-between;
}
.dict-block__search {
  display: none;
}
.dict-block__search_open {
  display: block;
}
.dict-block__form-input {
  min-width: 390px;
}
.dict-block__section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: auto;
}
.dict-block__row {
  display: grid;
  align-items: center;
  gap: 10px;
  padding: 8px 8px;
  border-radius: 10px;
}
.dict-block__row_right-margin {
  margin-right: 19px;
}
.dict-block__row:not(.dict-block__active):hover {
  background-color: #C2D6CB;
}
.dict-block__row_hidden {
  display: none;
}
.dict-block__content {
  overflow: auto;
  height: calc(100% - 130px);
  min-height: 160px;
}
.dict-block__text {
  width: 100%;
  font-weight: inherit;
}
.dict-block[open] {
  max-height: 632px;
  grid-row: span 4;
}
.dict-block[open]:hover {
  transform: scale(1);
}
.dict-block__open {
  max-height: calc(100vh - 120px);
  grid-row: span 4;
  max-width: 1600px;
  grid-column: 1/5;
  border: none;
  box-shadow: none;
  overflow: auto;
}
.dict-block__open:hover {
  transform: scale(1);
}
.dict-block__open_production {
  max-height: 100%;
}
.dict-block[open] .dict-block__search {
  display: flex;
  align-items: center;
  justify-content: "flex-end";
  gap: 10px;
}
.dict-block[open] .dict-block__header {
  padding: 20px;
  justify-content: space-between;
}
.dict-block__2[open] {
  max-width: 800px;
  grid-column: span 2;
}
.dict-block__3[open] {
  max-width: 1200px;
  grid-column: 1/4;
}
.dict-block__4[open] {
  max-width: 1600px;
  grid-column: 1/5;
}
.dict-block__5[open] {
  max-width: 1600px;
  grid-column: 1/6;
}

.service-dict {
  grid-template-columns: 3fr 1fr;
}

.color {
  grid-template-columns: 1fr 8fr 4fr 2fr 4fr 2fr;
}

.detail-in-goods {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.goods {
  grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
}

.main-material {
  grid-template-columns: repeat(4, 1fr) 2fr 1fr;
}

.add-material {
  grid-template-columns: repeat(3, 1fr);
}

.masterbatch {
  grid-template-columns: repeat(4, 1fr) 2fr 1fr 1fr;
}

.producer {
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 2fr 1fr;
}

.recipe {
  grid-template-columns: 1fr 3fr 2fr 1fr repeat(2, 3fr 1fr) 4fr 1fr;
}

.imm {
  grid-template-columns: 1fr repeat(6, 2fr);
}

.production-request {
  grid-template-columns: 1fr 2fr 2fr repeat(7, 1fr);
}

.production {
  grid-template-columns: 1fr 2fr repeat(6, 1fr) 2fr 1fr;
}

.in-production {
  grid-template-columns: 1fr 4fr repeat(7, 2fr) repeat(2, 1fr);
}

.production-list {
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 2fr repeat(6, 1fr);
}

.quality-list {
  grid-template-columns: repeat(11, 1fr);
}

.quality-content {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #C2D6CB;
  font-size: 15px;
}
.quality-content__row {
  grid-template-columns: repeat(6, 1fr) repeat(2, 2fr) 1fr 1fr;
}

.dropdown_dict {
  height: 33px;
  font-size: 13px;
}

.dropdown__input_dict {
  font-size: inherit;
}

@media (max-width: 1600px) {
  .dict {
    padding: 20px;
  }
  .dict-block__5[open] {
    max-width: 1600px;
    grid-column: 1/5;
  }
}
@media (max-width: 1600px) and (max-width: 767px) {
  .dict__header {
    padding: 30px;
  }
  .dict-block__header {
    padding: 20px;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .dict-block__form-input {
    min-width: 200px;
  }
  .production {
    grid-template-columns: repeat(6, 1fr);
    font-size: 14px;
  }
  .in-production {
    grid-template-columns: repeat(8, 1fr);
    font-size: 14px;
  }
  .production-list {
    grid-template-columns: repeat(9, 1fr);
    font-size: 14px;
  }
}
.form-row__export {
  border: 1px solid #293D32;
  border-radius: 10px;
  padding: 20px 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr repeat(2, 1fr);
  width: 600px;
  align-items: center;
  position: relative;
}

.modal__content {
  margin: 15% auto;
  padding: 16px;
  border: 1px solid #293D32;
  width: 760px;
  border-radius: 10px;
  background-color: #DFCFB9;
  box-shadow: 6px 6px 12px #293D32;
}
.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}
.modal__block {
  padding-top: 8px;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.modal__check {
  font-size: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  accent-color: #293D32;
}
.modal__textarea {
  width: 100%;
  border: 1px solid #151E19;
  border-radius: 10px;
  min-height: 60px;
  font-size: 16px;
  padding: 6px;
  background-color: #EFE7DC;
}
.modal__input {
  width: 100%;
  border: none;
  text-align: start;
  font-weight: 900;
  font-size: 16px;
  background-color: #DFCFB9;
}

@media (max-width: 767px) {
  .modal__content {
    width: calc(100% - 60px);
    font-size: 14px;
  }
  .modal__row {
    flex-direction: column;
    align-items: flex-start;
  }
  .modal__block {
    grid-template-columns: 1fr;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
